@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* { box-sizing: border-box }

body {
    width: 100%;
    margin: 0;
}

/*** TITULOS ***/
    .titulo {
        font-size: 5em;
        font-family: "Bebas Neue", sans-serif; 
        font-weight: 400;
    } 

    .subtitulo {
        font-size: 3em;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
    }

    #trayectoria .subtitulo, #videos .subtitulo, #discografia .subtitulo {
        color: white;
        font-size: 52px;
    }

    #titulo-bungee {
        margin: 20px;
        font-family: "Bungee", sans-serif;
        font-size: 3em;
    } /* este se usa para musica y multimedia*/



/*** INICIO ***/
    #home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #garcia-nav {
        font-family: "Permanent Marker", cursive;
        font-weight: 600;
        font-size: 2em;
    }

    #home #info {
        display: flex;
        padding: 5em;
        margin: 4em;
        margin-bottom: 5em;
    }

    .music-mobile {display: none;}

    #frases {
        height: 560px;
        background-image: url(../img/home.png);
        width: 100%;
        background-repeat: no-repeat;
        background-position: bottom; 
        background-size: cover;
    }

    #frases .subtitulo {
        color: rgba(128, 39, 17, 0.945);
        display: flex;
        justify-content: flex-end;
        padding: 35px;
        text-align: right;
    }

        .embed-youtube-music {
            display: flex;
            align-items: center;
            border: 2px solid #333;
            border-radius: 8px;
            padding: 10px;
            width: 400px;
            background-color: #683038;
            text-decoration: none;
            transition: transform 0.2s;
            margin-bottom: 2em;
        }

        .embed-youtube-music:hover {
            transform: scale(1.05);
        }

        .embed-youtube-music .icon {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }

        .embed-youtube-music h3 {
            margin: 0;
            font-size: 16px;
            color: #ffffff;
        }

        .embed-youtube-music p {
            margin: 5px 0 0;
            font-size: 14px;
            color: #afadad;
        }


/***  FOOTER ***/
    footer {
        background-color: #f8f8f8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 10%;
        padding: 10px;
    }

    #logo-footer {
        height: auto;
        width: 6%;
    }


/*** CONTACTO ***/
    #contact {
        padding: 25px;
        height: 890px;
        width: 100%;
        background-image: url(../img/fondo.jpg);
    }


/***  BIOGRAFIA ***/
    #bio h2 {
        font-size: 120%;
    }

    #franja {display: flex;}
    #franja-blanca {background-color: rgb(212, 184, 124);
        color: rgb(0, 0, 0);
        padding: 2em;
        width: 100%;
        margin: 0;
    }

    #ninez { width:80%;
    margin-right: 30px;
    }
        #bio #foto1 {
            width: 50%;
            background-image: url(../img/bio\ \(1\).jpg);
            background-repeat: no-repeat;
            background-position: center; 
            background-size: cover;
        }

    #adultez { width:80%;
        margin-left: 30px;
    }
        #bio #foto2 {
            width: 50%;
            background-image: url(../img/bio\ \(2\).jpg);
            background-repeat: no-repeat;
            background-position: center; 
            background-size: cover;
        }


    #datoCurioso  {
        margin: 0 auto;
        padding: 10px;
        text-align: center;
        background-color: black;
        color: white;
        width: 60%;
        max-height: 30%;
        border-radius: 10px;
    }   .d {height: 80px;}

    


/*** MÚSICA ***/
    #musica #intro {
        display: flex; 
    }

    /* sección de trayctoria y bandas */
    #trayectoria div {
        color: white;
        font-size: 23px;
        padding: 6em;
        padding-top: 3em;
    }

    #trayectoria h2 {
        font-family: "Bebas Neue", sans-serif; 
        font-size: 50px;
        margin-bottom: 15px;
        font-weight: 800;
    }

    #sui, #maquina, #seru, #solista {
        height: 600px;
        max-width: 100vw;
        background-repeat: no-repeat;
        background-position: center; 
        background-size: cover;
    }   #sui { background-image: url(../pag-musica/img/sui-generis.jpg); } 
        #maquina { background-image: url(../pag-musica/img/la-maquina.jpg); } 
        #seru { background-image: url(../pag-musica/img/seru-giran.jpg); } 
        #solista { background-image: url(../pag-musica/img/charly-solista.jpg); }
        #sui:hover { opacity: 890%;}
        #sui:hover {
            background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
                            url(../pag-musica/img/sui-generis.jpg); /* Más opaco en hover */}
        #maquina:hover {
            background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
                            url(../pag-musica/img/la-maquina.jpg);}
        #seru:hover {
            background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
                            url(../pag-musica/img/seru-giran.jpg);}
        #solista:hover {
            background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
                            url(../pag-musica/img/charly-solista.jpg);
        }


    /* sección de 4 vinilos y bitón a discografía */
    #albumes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 550px;
    }

    #vinilos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #vinilos img {
        max-width: 250px;
        padding: 30px;
        height: auto;
    } #vinilos img:hover {
        opacity: 50%;
    }


/**  ÁLBUMES **/
    #discografia {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    #discografia .columna {
        justify-content: center;
        display: flex;
        flex-direction: row;
    }

    #discografia iframe {
        margin: 50px;
        width: 500px;
    }



/*** MULTIMEDIA ***/
    #galeria img {
        border-radius: 15px; 
        padding: 10px;
        margin-bottom: 50px;
        margin-top: 50;
    }

    /* videos */
    #videos, #discografia {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(../img/fondo.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed; /* con fixed la imagen de fondo queda quieta y se desplaza solo el contenido */
    }

    #videos iframe {
    margin: 20px;
    }


/*** NOTICIAS ***/
    #tituloNoticias {
        position: relative;
        z-index: 1;
    }

    .navbar, .dropdown-content {
        position: relative;
        z-index: 10;
    } /* el menú de nav debe tener un z-index mayor que el título para que no se superponga (sino se bugea por la animación que tiene) */


/*** DESARROLLO ***/
    #about {
        padding: 50px;
        height: 600px
    }

    #desarrollo {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #desarrollo img {
        padding-left: 40px;
        max-width: 20%;
    }


    

/*///////////  RESPONSIVE MOBILE  ////////////*/

@media (max-width: 960px) {

    .titulo, .subtitulo {
        text-align: center;
    }

    /* INICIO */
    #home #info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .music { display: none; }
    .music-mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 300px;
        height:  auto;
        margin-bottom: 40px;
    }

    #ytm, #sp {
        width: 300px;
        height:  auto;
        margin: 10px;
    }   #ytm:hover {transform: scale(1.05); }
        #sp:hover { transform: scale(1.05); }

    /* BIOGRAFIA */
    #foto1, #foto2 { display: none;}
    #ninez, #adultez, #franja-blanca { width:100%; display: flex; flex-direction: column; align-items: center;}

    /* MUSICA */
    #musica #titulo-bungee {
        margin-left: -100px;
    }

    #musica #intro {
        display: flex; 
        flex-direction: column;
        align-items: center;
    }

    #trayectoria div {
        font-size: 15px;
        padding: 20px;
    }

    #vinilos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #vinilos img {
        max-width: 150px;
        padding: 10px;
    }

    /**  ÁLBUMES **/
    #discografia .columna {
        display: block;
    }

    #discografia iframe {
        margin: 40px;
        max-width: 300px;
    }

    
    /* MULTIMEDIA */
    #multi #titulo-bungee {
        margin-left: 55px;
    }

    #videos iframe {
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 80%;
    }



}
    







