@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* estructura del inicio */
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#garcia-nav {
    font-family: "Permanent Marker", cursive;
    font-weight: 600;
    font-size: 2em;
}

/*  seccion info y atajos a rrss */
.titulo {
    font-size: 5em;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
}

#home #info {
    display: flex;
    padding: 5em;
    margin: 5em;
    margin-bottom: 7em;
}

#home #info #izq {
    width: 50%;
}

#home #info #der {
    width: 30%;
    margin-left: 8em;
}

#home #contadores {
    margin-bottom: 15em;
}

/* embed yt music */
    .embed-youtube-music {
        display: flex;
        align-items: center;
        border: 2px solid #333;
        border-radius: 8px;
        padding: 10px;
        width: 400px;
        background-color: #683038;
        text-decoration: none;
        transition: transform 0.2s;
        margin-bottom: 2em;
    }

    .embed-youtube-music:hover {
        transform: scale(1.05);
    }

    .embed-youtube-music .icon {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    .embed-youtube-music h3 {
        margin: 0;
        font-size: 16px;
        color: #ffffff;
    }

    .embed-youtube-music p {
        margin: 5px 0 0;
        font-size: 14px;
        color: #afadad;
    }
/****/


/*  estructura footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15em;
    background-color: #fffefc;

}

#logo-footer {
    height: auto;
    width: 5em;
}
